.header {
    padding: 10px 40px;
    position: relative;
    border-bottom: 1px solid #b4b4b4;
}

.body {
    padding: 20px 40px;
}

.modal {
    background-color: #f4f4f4;
    text-transform: initial;
    min-width: 30vw;
    border-radius: 4px;
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}

.closeButton {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    cursor: pointer;
}