.container {
    position:fixed;
    height: 100%;
    width: 100%;
    background:rgba(0,0,0,0.5);
    z-index: 100;
    left: 0;
    top: 0;
    overflow-y: auto;
}

.content {
    margin: 0 auto;
    width: 80vw;
    height: 80vh;
    background-color: #333;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.close {
    position: fixed;
    right: 10px;
    top: 10px;
    border: none;
    background: transparent;
    color: darkgrey;
    cursor: pointer;
    z-index: 2;
}

.close:hover {
    color: black;
}

.close:focus {
    outline: none;
}

.arrow {
    position: absolute;
    top: 50%;
    border: none;
    background: rgba(80,80,80,0.8);
    color: white;
    cursor: pointer;
    width: 50px;
    height: 50px;
    margin-top: -25px;
}

.arrow:hover {
    background: rgba(0,0,0,0.8);
}

.arrow:focus {
    outline: none;
}

.arrowLeft {
    left: 0;
}

.arrowRight {
    right: 0;
}

.textblock {
    width: 100%;
}

.textblock p {
    color: black;
}