.header {
    list-style-type: none;
    display:flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    position:sticky;
    top:0;
    z-index: 3;
    background-color: #222222;
  }
  .navy li {
    display:inline-block;
    margin-right: 20px;
  }
  
  .navy li a {
    text-decoration: none;
    color: white;
  }
  
  .logo {
    flex-grow: 2;
    text-align: center;
  }
  
  .logo img {
    width: 20vw;
    height: auto;
  }