.about-me {
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#cccccc+7,ffcdb4+33,fffbf9+47,ffffff+58&0+0,0.8+11,0.8+11,0.8+23,1+67,0.9+100 */
background: -moz-linear-gradient(-45deg,  rgba(204,204,204,0) 0%, rgba(204,204,204,0.51) 7%, rgba(212,204,200,0.8) 11%, rgba(235,205,189,0.8) 23%, rgba(255,205,180,0.85) 33%, rgba(255,251,249,0.91) 47%, rgba(255,255,255,0.96) 58%, rgba(255,255,255,1) 67%, rgba(255,255,255,0.9) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg,  rgba(204,204,204,0) 0%,rgba(204,204,204,0.51) 7%,rgba(212,204,200,0.8) 11%,rgba(235,205,189,0.8) 23%,rgba(255,205,180,0.85) 33%,rgba(255,251,249,0.91) 47%,rgba(255,255,255,0.96) 58%,rgba(255,255,255,1) 67%,rgba(255,255,255,0.9) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg,  rgba(204,204,204,0) 0%,rgba(204,204,204,0.51) 7%,rgba(212,204,200,0.8) 11%,rgba(235,205,189,0.8) 23%,rgba(255,205,180,0.85) 33%,rgba(255,251,249,0.91) 47%,rgba(255,255,255,0.96) 58%,rgba(255,255,255,1) 67%,rgba(255,255,255,0.9) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00cccccc', endColorstr='#e6ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    margin-top: 75px;
    position:relative;
}
.ab-me-design {
    background-image: url("/images/backgroundDesign.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;

}
.title-border {
    position:relative;
    margin-bottom: 20px;
    padding-bottom: 10px;
    color:rgb(137, 73, 76);
}
.title-border::after {
    position: absolute;
    left:0;
    content: "";
    bottom: 0;
    width: 80px;
    height: 3px;
    background:rgb(97, 54, 56);
}

.img-thumbnail.about-img {
    border-radius: .25rem;
    max-width: 100%;
    opacity: 0.8;
    height: auto;
    padding:0;
    border:0;
}

.description-wrapper {
    color:rgb(115, 124, 123);
}
.skills-text p {
    color:rgb(115, 124, 123);
}

.skills-text h4 {
    color:rgb(137, 73, 76);
}