.appointment-wrapper {
    margin: 20px 0;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#0d0d0d+0,ffd1c1+4,959595+12,ffd1c1+25,959595+27,0a0a0a+43,ffd1c1+49,010101+53,ffd1c1+82,959595+89,ffd1c1+96,1b1b1b+100&0+0,0.18+2,1+9,1+23,0.12+25,0+26,1+28,0.11+28,1+37,0.38+53,0.38+53,1+58 */
background: -moz-linear-gradient(45deg,  rgba(13,13,13,0) 0%, rgba(134,111,103,0.18) 2%, rgba(255,209,193,0.41) 4%, rgba(189,172,166,1) 9%, rgba(149,149,149,1) 12%, rgba(239,200,186,1) 23%, rgba(255,209,193,0.12) 25%, rgba(202,179,171,0) 26%, rgba(149,149,149,0.06) 27%, rgba(140,140,140,0.11) 28%, rgba(62,62,62,1) 37%, rgba(10,10,10,0.77) 43%, rgba(255,209,193,0.54) 49%, rgba(1,1,1,0.38) 53%, rgba(45,37,34,1) 58%, rgba(255,209,193,1) 82%, rgba(149,149,149,1) 89%, rgba(255,209,193,1) 96%, rgba(27,27,27,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg,  rgba(13,13,13,0) 0%,rgba(134,111,103,0.18) 2%,rgba(255,209,193,0.41) 4%,rgba(189,172,166,1) 9%,rgba(149,149,149,1) 12%,rgba(239,200,186,1) 23%,rgba(255,209,193,0.12) 25%,rgba(202,179,171,0) 26%,rgba(149,149,149,0.06) 27%,rgba(140,140,140,0.11) 28%,rgba(62,62,62,1) 37%,rgba(10,10,10,0.77) 43%,rgba(255,209,193,0.54) 49%,rgba(1,1,1,0.38) 53%,rgba(45,37,34,1) 58%,rgba(255,209,193,1) 82%,rgba(149,149,149,1) 89%,rgba(255,209,193,1) 96%,rgba(27,27,27,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg,  rgba(13,13,13,0) 0%,rgba(134,111,103,0.18) 2%,rgba(255,209,193,0.41) 4%,rgba(189,172,166,1) 9%,rgba(149,149,149,1) 12%,rgba(239,200,186,1) 23%,rgba(255,209,193,0.12) 25%,rgba(202,179,171,0) 26%,rgba(149,149,149,0.06) 27%,rgba(140,140,140,0.11) 28%,rgba(62,62,62,1) 37%,rgba(10,10,10,0.77) 43%,rgba(255,209,193,0.54) 49%,rgba(1,1,1,0.38) 53%,rgba(45,37,34,1) 58%,rgba(255,209,193,1) 82%,rgba(149,149,149,1) 89%,rgba(255,209,193,1) 96%,rgba(27,27,27,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000d0d0d', endColorstr='#1b1b1b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

.form-input {
    padding: 10px 20px;
    background: rgba(0,0,0,0.5);
    color: white;
    border: none;
    flex: 5;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.form-input:focus {
    border: none;
    outline: none;
    border-bottom: 1px solid #ffc0a1;
}

.form-label {
    padding: 10px 20px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin: 0;
    background: #333;
    color: white;
    letter-spacing: 0.1em;
    flex: 2;
    text-align: right;
    display: block;
}

.form-row {
    margin-bottom: 20px;
    display: flex;
}

.event {
    margin-top: 40px;
}

.event-text {
    background: #333;
    color: white;
    letter-spacing: 0.1em;
    font-size: 24px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    text-align: center;
}

