.container {
  background-image: url("/images/bgn-pebbles.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom right;
  position: relative;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.outerCircle {
  width: 80%;
  padding-top: 80%;
  position: relative;
  border-radius: 50%;
  border: 4px dotted #888;
}

.innerCircle {
  position: absolute;
  width: 80%;
  height: 80%;
  top: 10%;
  left: 10%;
  border-radius: 50%;
  border: 2px dotted #444;
}

.innerText {
  letter-spacing: 0.2em;
}

.rhombus {
  margin: 100px auto;
  width: 100%;
  height: 200px;
  position: relative;
  transform: skewX(-30deg);
  line-height: 100px;

  &:hover {
      background-color: rgba(0,0,0,0.5);

      .rhombusText {
        display: block;
      }
  }

  &:after,
  &:before {
    content: " ";
    height: 200%;
    top: -50%;
    position: absolute;
    border-left: 1px dashed white;
  }

  &:after {
    display: none;
  }
}

.row {
    position: relative;
}

.overlayRhombus {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0.3;
    margin-left: -3%;

    .rhombus:hover {
        background: none;
    }
}

.lastRhombus {
  .rhombus {
    &:after {
      display: block;
      right: 0;
    }
  }
}

.rhombusRow {
    position: relative;

    &:after,
    &:before {
      content: " ";
      width: 150%;
      top: 25%;
      left: -25%;
      position: absolute;
      border-top: 1px dashed white;
    }

    &:after {
        top: auto;
        bottom: 25%;
    }
}

.rhombusText {
  position: absolute;
  width: 200%;
  height: 100%;
  top: 0;
  left: -50%;
  transform: skewX(30deg);
  text-align: center;
  padding: 20px;
  padding-left: 60px;
  display: none;
  color: white;
  letter-spacing: 0.2em;
  line-height: initial;
}
