@font-face {
  font-family: 'over_the_rainbowregular';
  src: url('/fonts/over-the-rainbow/overtherainbow-regular-webfont.woff2') format('woff2'),
       url('/fonts/over-the-rainbow/overtherainbow-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'playfair_display_scblack';
  src: url('/fonts/playfair-display-sc/playfairdisplaysc-black-webfont.woff2') format('woff2'),
       url('/fonts/playfair-display-sc/playfairdisplaysc-black-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'playfair_display_scregular';
  src: url('/fonts/playfair-display-sc/playfairdisplaysc-regular-webfont.woff2') format('woff2'),
       url('/fonts/playfair-display-sc/playfairdisplaysc-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

body {
 /* background: linear-gradient(318deg, rgba(4,99,7,1) 0%, rgba(51, 51, 0) 58%, rgba(1,78,1,1) 100%);*/
  background:
    radial-gradient(black 15%, transparent 16%) 0 0,
    radial-gradient(black 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
  background-color:#282828;
  background-size:16px 16px;

  font-family: 'playfair_display_scregular';
}

::-webkit-scrollbar {
  display: none;
}

.testing-background {
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#0d0d0d+0,ffd1c1+4,959595+12,ffd1c1+25,959595+27,0a0a0a+43,ffd1c1+49,010101+53,ffd1c1+82,959595+89,ffd1c1+96,1b1b1b+100&0+0,0.18+2,1+9,1+23,0.12+25,0+26,1+28,0.11+28,1+37,0.38+53,0.38+53,1+58 */
background: -moz-linear-gradient(45deg,  rgba(13,13,13,0) 0%, rgba(134,111,103,0.18) 2%, rgba(255,209,193,0.41) 4%, rgba(189,172,166,1) 9%, rgba(149,149,149,1) 12%, rgba(239,200,186,1) 23%, rgba(255,209,193,0.12) 25%, rgba(202,179,171,0) 26%, rgba(149,149,149,0.06) 27%, rgba(140,140,140,0.11) 28%, rgba(62,62,62,1) 37%, rgba(10,10,10,0.77) 43%, rgba(255,209,193,0.54) 49%, rgba(1,1,1,0.38) 53%, rgba(45,37,34,1) 58%, rgba(255,209,193,1) 82%, rgba(149,149,149,1) 89%, rgba(255,209,193,1) 96%, rgba(27,27,27,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg,  rgba(13,13,13,0) 0%,rgba(134,111,103,0.18) 2%,rgba(255,209,193,0.41) 4%,rgba(189,172,166,1) 9%,rgba(149,149,149,1) 12%,rgba(239,200,186,1) 23%,rgba(255,209,193,0.12) 25%,rgba(202,179,171,0) 26%,rgba(149,149,149,0.06) 27%,rgba(140,140,140,0.11) 28%,rgba(62,62,62,1) 37%,rgba(10,10,10,0.77) 43%,rgba(255,209,193,0.54) 49%,rgba(1,1,1,0.38) 53%,rgba(45,37,34,1) 58%,rgba(255,209,193,1) 82%,rgba(149,149,149,1) 89%,rgba(255,209,193,1) 96%,rgba(27,27,27,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg,  rgba(13,13,13,0) 0%,rgba(134,111,103,0.18) 2%,rgba(255,209,193,0.41) 4%,rgba(189,172,166,1) 9%,rgba(149,149,149,1) 12%,rgba(239,200,186,1) 23%,rgba(255,209,193,0.12) 25%,rgba(202,179,171,0) 26%,rgba(149,149,149,0.06) 27%,rgba(140,140,140,0.11) 28%,rgba(62,62,62,1) 37%,rgba(10,10,10,0.77) 43%,rgba(255,209,193,0.54) 49%,rgba(1,1,1,0.38) 53%,rgba(45,37,34,1) 58%,rgba(255,209,193,1) 82%,rgba(149,149,149,1) 89%,rgba(255,209,193,1) 96%,rgba(27,27,27,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000d0d0d', endColorstr='#1b1b1b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}
.card-image {
  width: 100%;
  height: auto;
}

.banner-nails {
  background: transparent;
  color: white;
}

.my-button {
  border-radius: 0;
  border: 1px solid black;
  color: #000;
}

.my-button:hover {
  background:rgba(85, 95, 97, 0.3);
  color: #000;
}

.testimonial {
  height: 200px;
  background: transparent;
  color: white;
  border-radius: 0;
  padding: 3em;
}

.carousel .slide {
  background: transparent;
}

.pre-headline, .headline {
  color: white;
  text-align: center;
}

.banner-image {
  width: 100%;
}

.banner {
  position: relative;
}

.banner-block {
  position: absolute;
  background: rgba(0,0,0,0.3);
  color: white;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
}

.banner-block .display-4 {
  text-transform: lowercase;
  font-family: 'over_the_rainbowregular';
  color: rgba(16,167,20,1);
}



div#gallery { 
  perspective: 1200px; 
  padding-top: 10%; 
  margin-bottom: 3rem; 
  overflow: hidden;
  position:relative; 
  padding:0 20px;
}
.controls {
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  position:absolute;
  display:block;
  top:50%;
  color:black;
  width: 20px;
  height: 20px;
  z-index: 100;
  /*background: peachpuff;*/
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffdab9+0,ffdab9+100&0+0,0.8+16,1+48,0.8+79,0+100 */
  background: -moz-linear-gradient(top,  rgba(255,218,185,0) 0%, rgba(255,218,185,0.8) 16%, rgba(255,218,185,1) 48%, rgba(255,218,185,0.8) 79%, rgba(255,218,185,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(255,218,185,0) 0%,rgba(255,218,185,0.8) 16%,rgba(255,218,185,1) 48%,rgba(255,218,185,0.8) 79%,rgba(255,218,185,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(255,218,185,0) 0%,rgba(255,218,185,0.8) 16%,rgba(255,218,185,1) 48%,rgba(255,218,185,0.8) 79%,rgba(255,218,185,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffdab9', endColorstr='#00ffdab9',GradientType=0 ); /* IE6-9 */
  
}
.left-arrow {
  left:0px;
}
.right-arrow {
  right:0px;
}
figure#spinner { 
  transform-style: preserve-3d; 
  height: 300px; 
  transform-origin: 50% 50% -500px; 
  transition: 1s; 
} 
figure#spinner img { 
  width: 30%; max-width: 425px; 
  position: absolute; left: 30%;
  transform-origin: 50% 50% -500px;
  outline:1px solid transparent; 
}
figure#spinner img:nth-child(1) { transform:rotateY(0deg); }
figure#spinner img:nth-child(2) { transform: rotateY(-45deg); }
figure#spinner img:nth-child(3) { transform: rotateY(-90deg); }
figure#spinner img:nth-child(4) { transform: rotateY(-135deg); }
figure#spinner img:nth-child(5){ transform: rotateY(-180deg); }
figure#spinner img:nth-child(6){ transform: rotateY(-225deg); }
figure#spinner img:nth-child(7){ transform: rotateY(-270deg); }
figure#spinner img:nth-child(8){ transform: rotateY(-315deg); }




.footer {
  background-color: rgba(34, 34, 34, 0.5);
  /*0.5 e valoarea de transparency. culoarea echivalent la #222222*/
  color: white;
  margin-bottom: 50px;
}

.no-link {
  text-decoration: none !important;
  color: white;
}

.no-link:hover {
  color: white;
}

