.services-wrapper {
    margin: 20px 0;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#cccccc+0,ffcdb4+66&0+0,0.8+16,0.8+89,0+99 */
    background: -moz-linear-gradient(-45deg,  rgba(204,204,204,0) 0%, rgba(216,204,198,0.8) 16%, rgba(255,205,180,0.8) 66%, rgba(255,205,180,0.8) 89%, rgba(255,205,180,0) 99%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  rgba(204,204,204,0) 0%,rgba(216,204,198,0.8) 16%,rgba(255,205,180,0.8) 66%,rgba(255,205,180,0.8) 89%,rgba(255,205,180,0) 99%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  rgba(204,204,204,0) 0%,rgba(216,204,198,0.8) 16%,rgba(255,205,180,0.8) 66%,rgba(255,205,180,0.8) 89%,rgba(255,205,180,0) 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00cccccc', endColorstr='#00ffcdb4',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

.services-wrapper ul {
    list-style-type: none;
    padding: 0;
}

.services-wrapper li {
    border-bottom: 1px solid #888;
    padding: 10px 0;
    margin-bottom: 10px;
}

.services-wrapper li:last-child {
    border: none;
}

.services-appointments {
    border: none;
    display: inline-block;
    background: #ffcdb4;
    border: 1px solid #ffc0a1;
    color: #000;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 40px;
    letter-spacing: 0.1em;
    text-decoration: none !important; 
}

.services-appointments:hover {
    background: rgba(255,205,180, 0.8);
    color: #000;
}

.services-title {
    letter-spacing: 0.1em;
}


.btn {
    color: rgb(97, 54, 56);
    cursor: pointer;
    font-size:16px;
    font-weight: 400;
    line-height: 45px;
    margin: 0 0 2em;
    max-width: 160px; 
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%; 
    border-radius: 0;
    letter-spacing: 0.1em;
}  

.btn:hover { text-decoration: none; }

.btn-5 {
    border: 1 solid transparent;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    outline: 1px solid;
    outline-color: rgba(97, 54, 56, .5);
    outline-offset: 0px;
    text-shadow: none;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    border-radius: 0;
  } 
  
  .btn-5:hover {
    border: 1px solid #555;
    box-shadow: inset 0 0 20px rgba(97, 54, 56, .5), 0 0 20px rgba(255, 255, 255, .2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #427388; 
  }